.content
{
    position: absolute; 
    width : 620px;   
    height: 300px;
    padding: 10px;
    background-color: #fafafa;
}

.header
{
    height: 30px;
    font-size: 25px;
    font-family: 'Georgia', serif;
    color: #263238;
}

.buttons 
{
    height: 30px;
    font-size: 23px; 
    float: right;
}

.firstVideoPanel
{
    height: 240px;
    width: 300px;
    float: left;
    position: relative;
    display: inline-block; 
    font-size: 18px;
    font-family: 'Georgia', serif;    
}

.firstVideo
{
    height: 180px;
    width: 300px;
    position: relative;
    background-color: #fafafa; 
}

.firstVideoTitle
{
    height: 38px;
    width: 278px;
    padding: 10px;
    border: solid 1px #BDBDBD;
    background-color: white;
    color: #263238;
}

.secondVideoPanel
{
    height: 240px;
    width: 300px;
    float: right;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: 'Georgia', serif;
}

.secondVideo
{
    height: 180px;
    width: 300px;
    position: relative;
    background-color: #fafafa;
}

.secondVideoTitle
{
    height: 40px;
    width: 300-2px;
    padding: 10px;
    border: solid 1px #BDBDBD;
    background-color: white;
    color: #263238;
}

.details 
{
    display: inline-block;
    position: absolute;
    bottom: 10px;   
    color: #CDDC39;
    font-size: 15px; 
    background-color: rgba(0,0,0,.6);
    padding: 5px 10px;
    z-index: 1;
}

.infoVideo 
{
    top: 0px;
    display: none;
    position: absolute;
    height: 150px;
    width: 270px; 
    color: #CDDC39;
    font-size: 15px; 
    background-color: rgba(0,0,0,.6);
    padding: 15px;
}

.details:hover
{
    color: rgba(0,0,0,.0);
    background-color: rgba(0,0,0,.0);
}

.details:hover ~ .infoVideo
{
    display: inline-block;
}